
:host {
  display: block;
  overflow: hidden;
  position: relative;
}

.article {
  ::ng-deep .outline {
    display: none;
  }
  margin-bottom: 50px;
}

.dot {
  margin-top: -2px;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #363a43;
  vertical-align: middle;
}
