<h1>
  博客文章
</h1>

<div>
  <div class="article" *ngFor="let article of recentArticles[currentPage]">
    <h1 class="article-title">
      <span class="dot"></span>
      <a [routerLink]="getArticleLink(article.path)">
        {{ article.title }}
      </a>
    </h1>
    <app-article-content [content]="article.content"></app-article-content>
  </div>
</div>

<app-pagination
  [pageSize]="pageSize"
  [total]="total"
  [currentIndex]="currentPage"
  (change)="onPageChange($event)"
></app-pagination>
