<div class="article-page">
  <article *ngIf="article">
    <h1 class="article-title">
      <span class="title-name">
        {{ article.title }}
        <span class="article-time">{{ formatTime(article.showTime) }}</span>
        <div class="article-time-add">
          <span class="article-time-distance">{{
            distanceTime(article.showTime)
          }}</span>
        </div>
      </span>
    </h1>

    <app-article-content [content]="content"></app-article-content>
  </article>
</div>
