<div class="article-page">
  <aside class="left">
    <div class="big-article">Article</div>
  </aside>

  <article>
    <h1 class="article-title"><span>{{article.title}}</span></h1>
    <div>{{article.showTime}}</div>
    <div #articleDom [innerHTML]="content"></div>
  </article>

  <aside class="right">
    <main>
      <form>
        <label>
          <input type="radio" name="sex" value="male">
          <span>Bright</span>
        </label>

        <label>
          <input type="radio" name="sex" value="female" checked>
          <span>Dark</span>
        </label>
      </form>
    </main>
  </aside>

</div>
