app-article {
  display: block;
  overflow-y: auto;
}

.article-page {
  position: relative;
  display: flex;
  padding-bottom: 50px;
  padding-right: 30px;

  @media screen and (max-width: 600px) {
    padding-right: 0px;
  }

  .article-page.bright {
    background-color: white;
  }

  article {
    position: relative;
    font-size: 14px;
    width: 100%;

    @media screen and (max-width: 600px) {
      width: 100%;
    }

    img {
      max-width: 100%;
    }

    a {
      word-break: break-all;
    }

    $title-anchor-size: 40px;
    .article-title {
      position: relative;
      text-align: center;
      font-size: 28px;

      .title-name {
        position: relative;
        display: inline-block;
        z-index: 10;
        letter-spacing: 3px;
        text-indent: 3px;
      }
    }

    .article-time,
    .article-time-distance {
      display: block;
      font-size: 10px;
      letter-spacing: initial;
      text-align: right;
      font-weight: normal;
      letter-spacing: 1px;
      opacity: 0.6;
      padding-right: 3px;
    }

    .article-time-add {
      text-align: right;
      line-height: 18px;
    }

    .article-time {
      display: block;
    }
  }
}
