app-article {
  display: block;
}

.article-page {
  position: relative;
  display: flex;
  padding-bottom: 50px;

  .article-page.bright {
    background-color: white;
  }

  aside.left {
    text-align: center;
    width: 300px;

    .big-article {
      font-weight: 900;
      font-size: 60px;
      color: #404146;
      letter-spacing: 2px;
    }

    @media screen and (max-width: 500px) {
      display: none;
    }
  }

  $radio-size: 10px;
  $radio-out-size: 20px;

  aside.right {
    width: 150px;
    position: relative;
    padding-top: 50px;

    main {
      padding-left: 20px;
      // position: fixed;
    }

    form {
      label {
        display: block;
        cursor: pointer;
        margin-bottom: 10px;
        position: relative;
        cursor: pointer;
        user-select: none;
        input {
          visibility: hidden;

          &:checked + span {
            &:before {
              background-color: #35caf3;
              opacity: 1;
            }

            &:after {
              content: '';
              display: block;
              position: absolute;
              top: 50%;
              left: 0;
              height: $radio-out-size;
              width: $radio-out-size;
              margin-top: - $radio-out-size / 2;
              margin-left: - $radio-out-size / 2;
              border: 1px solid #35caf3;
              border-radius: 50%;
              box-sizing: border-box;
            }
          }

          & + span {
            &:before {
              content: '';
              display: block;
              position: absolute;
              left: 0;
              top: 50%;
              width: $radio-size;
              height: $radio-size;
              background-color: white;
              border-radius: 50%;
              margin-top: - $radio-size / 2;
              margin-left: - $radio-size / 2;
              opacity: 0.9;
              box-sizing: border-box;
            }
          }
        }
      }
    }

    @media screen and (max-width: 500px) {
      display: none;
    }
  }

  article {
    position: relative;
    font-size: 13px;
    width: 650px;

    @media screen and (max-width: 500px) {
      width: 100%;
    }

    img {
      max-width: 100%;
    }

    $title-anchor-size: 40px;
    .article-title {
      position: relative;
      text-align: center;
      font-size: 28px;

      .title-name {
        position: relative;
        display: inline-block;
        z-index: 10;
        letter-spacing: 3px;
        text-indent: 3px;
        font-weight: lighter;

        &:before {
          content: '';
          display: block;
          position: absolute;
          width: $title-anchor-size;
          height: $title-anchor-size;
          z-index: -1;
          border-radius: 50%;
          background-color: #6191fb;
          left: - $title-anchor-size / 2;
          top: 0;
          box-shadow: 0 0 $title-anchor-size rgba(97, 145, 251, 0.4);
        }
      }
    }

    .article-time {
      display: block;
      font-size: 13px;
      letter-spacing: initial;
      text-align: right;
      font-weight: normal;
      letter-spacing: 1px;
      opacity: 0.6;
    }

    .article-content {
      color: rgba(255, 255, 255, 0.8);
      font-weight: lighter;
      line-height: 1.6;
      letter-spacing: 0.8px;
      text-indent: 0.8px;

      td {
        text-align: center;
        border-color: currentColor;
        border-radius: 1px;
      }
    }

    pre {
      border-radius: 8px;
      color: white;
      /* white-space: pre-wrap; */
      /* word-wrap: break-word; */
      font-size: 13px;
      overflow-x: scroll;

      code {
        font-family: Monaco;
        padding: 10px;
      }
    }
  }
}
