.article-page {
  position: relative;
  display: flex;
  padding-bottom: 50px;


  .article-page.bright {
    background-color: white;
  }

  aside.left {
    width: 250px;
    padding-right: 50px;
    .big-article {
      font-weight: 900;
      font-size: 60px;
      color: #404146;
    }
  }

  $radio-size: 10px;
  $radio-out-size: 20px;

  aside.right {
    width: 150px;
    position: relative;
    padding-top: 50px;

    main {
      padding-left: 20px;
      // position: fixed;
    }

    form {
      label {
        display: block;
        cursor: pointer;
        margin-bottom: 10px;
        position: relative;
        cursor: pointer;
        user-select: none;
        input {
          visibility: hidden;

          &:checked + span {
            &:before {
              background-color: #35caf3;
              opacity: 1;
            }

            &:after {
              content: '';
              display: block;
              position: absolute;
              top: 50%;
              left: 0;
              height: $radio-out-size;
              width: $radio-out-size;
              margin-top: - $radio-out-size / 2;
              margin-left: - $radio-out-size / 2;
              border: 1px solid #35caf3;
              border-radius: 50%;
              box-sizing: border-box;
            }
          }

          & + span {
            &:before {
              content: '';
              display: block;
              position: absolute;
              left: 0;
              top: 50%;
              width: $radio-size;
              height: $radio-size;
              background-color: white;
              border-radius: 50%;
              margin-top: - $radio-size / 2;
              margin-left: - $radio-size / 2;
              opacity: 0.9;
              box-sizing: border-box;
            }
          }
        }
      }
    }
  }

  article {
    position: relative;
    font-size: 12px;
    width: 650px;

    $title-anchor-size: 40px;
    .article-title {
      text-align: center;
      font-size: 28px;

      span {
        position: relative;
        display: inline-block;
        z-index: 10;
        letter-spacing: 3px;
        text-indent: 3px;
        &:before {
          content: '';
          display: block;
          position: absolute;
          width: $title-anchor-size;
          height: $title-anchor-size;
          z-index: -1;
          border-radius: 50%;
          background-color: #6191fb;
          left: - $title-anchor-size / 2;
          top: 50%;
          margin-top: - $title-anchor-size / 2;
          box-shadow: 0 0 $title-anchor-size #6191fb;
        }
      }
    }

    pre {
      padding: 10px;
      border-radius: 5px;
      background-color: #313744;
      color: white;
      white-space: pre-wrap;
      word-wrap: break-word;
    }
  }
}
