:host {
  display: block;
  position: relative;
  z-index: 10;
  padding: 0 10px 0 0;
}

nav {
  padding-top: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
  opacity: 0.95;
  font-size: 13px;
}

ul {
  display: flex;

  &[hidden] {
    visibility: hidden;
  }

  li {
    margin-left: 20px;
    background-color: #292c32;
    padding: 2px 5px 1px;
    box-sizing: border-box;
    border-radius: 2px;

    a {
      color: white;
    }

    &:first-child {
      margin-left: 0px;
    }
  }

  a {
    font-weight: lighter;
    letter-spacing: 2px;
    text-indent: 2px;
    position: relative;
  }
}
