:host {
  display: block;
  padding: 10px 5px;
  text-align: left;
  position: relative;

  @media screen and (max-width: 600px) {
    display: none;
  }
}

header {
  text-align: left;
  color: #445;
  font-size: 20px;
  font-weight: bold;

  span {
    vertical-align: middle;
    font-size: smaller;
  }

  svg {
    fill: #555;
    vertical-align: middle;
    width: 20px;
    margin-left: -4px;
    margin-right: 2px;
  }
}

ul {
  padding-left: 19px;
  list-style: square;
  line-height: 1.3;

  li {
    font-size: 14px;
    text-align: left;
    margin-top: 8px;

    a {
      color: #757c7ff2;
      font-weight: 400;
    }
  }
}
