<div class="toggle">
  <svg fill="#000000"
    height="24"
    viewBox="0 0 24 24"
    width="24">
    <path d="M12 10.9c-.61 0-1.1.49-1.1 1.1s.49 1.1 1.1 1.1c.61 0 1.1-.49 1.1-1.1s-.49-1.1-1.1-1.1zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm2.19 12.19L6 18l3.81-8.19L18 6l-3.81 8.19z" />


    <path d="M0 0h24v24H0z"
      fill="none" />

  </svg>
  <span>Links</span>
</div>

<ul>

  <li class="github">
    <a href="https://github.com/fwchen">
      <img class="icon" alt="github"
        src="/assets/image/GitHub-Mark-120px-plus.png">

      <span>Github</span>
    </a>
  </li>

  <li>
    <a href="https://www.chenfangwei.xyz">
      <img class="icon" alt="website"
        src="/assets/image/ic_account_circle_black_24dp_2x.png">
      <span>Person</span>
    </a>
  </li>
</ul>
