$left-space: 80px;
$circle-size: 48px;
$small-circle-size: 20px;
$major-bottom-distance: 10px;

:host {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding-left: $left-space;
  box-sizing: border-box;
  user-select: none;

  @media screen and (max-width: 500px) {
    padding-left: 0;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: $major-bottom-distance;
    width: $circle-size;
    height: $circle-size;
    border-radius: 50%;
    background-color: #363a43;
    transition: background-color 300ms ease-in-out, box-shadow 300ms ease-in-out;

    @media screen and (max-width: 500px) {
      width: $small-circle-size;
      height: $small-circle-size;
      left: - $small-circle-size - 15px;
      background-color: white;
      opacity: 0.3;
    }
  }

  &:hover {
    &:before {
      background-color: #000;
      box-shadow: 0 0 50px #000;
    }

    .major {
      opacity: 0.90;
      transform: translate(0, -5px);
      text-shadow: 0 0 20px white;
    }

    .shadow {
      top: 5px;
    }
  }
}

.major {
  position: absolute;
  left: $left-space;
  bottom: $major-bottom-distance;
  font-size: 25px;
  opacity: 0.95;
  transform: translate(0, 0);
  transition: all 200ms ease-in-out;
  z-index: 10;

  @media screen and (max-width: 500px) {
    left: 0;
  }
}

.shadow {
  position: relative;
  color: #eeeeee;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 3px;
  transform: translate(0, 0);
  transition: all 200ms ease-in-out, color 0;

  @media screen and (max-width: 500px) {
    font-size: 30px;
  }
}
