:host {
  display: block;
  position: relative;
}

main {
  display: flex;
  justify-content: flex-start;
}

h1 {
  position: relative;
  font-size: 65px;
  margin: 0;
  color: #404146;

  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 30px;
    height: 2px;
    background-color: white;
  }
}

aside {
  padding-top: 17px;

  @media screen and (max-width: 600px) {
    display: none;
  }

  .tag-heading {
    font-weight: bold;
    margin-bottom: 6px;
    img {
      position: relative;
      top: 3px;
      height: 18px;
      width: 18px;
    }
  }

  ul.categorys {
    padding-right: 10px;
    padding-left: 2px;
    display: block;
    width: 90px;

    li {
      line-height: 22px;
    }

    a {
      position: relative;
      font-size: 16px;
      text-indent: 1px;
      opacity: 0.9;
      display: inline-block;
      height: 100%;
      padding: 3px 0;
      transition: all 100ms ease-in-out;
      color: #222;

      &:hover,
      &.active {
        font-weight: 900;
      }
    }
  }
}

.category-article {
  position: relative;
  margin-left: 20px;
  padding-top: 3px;

  h5 {
    font-size: 28px;
    margin: 10px auto;

    .anchor {
      display: block;
      visibility: hidden;
      position: relative;
      top: -50px;
    }
  }

  ul.articles {
    margin-bottom: 24px;
    padding-left: 18px;

    li {
      margin-bottom: 10px;

      div {
        display: inline-block;
        border-bottom: 1px solid #ccc;
      }

      a {
        display: inline-block;
        border-bottom: 1px solid transparent;
        transition: border-color 100ms ease-in-out;
        vertical-align: baseline;
        cursor: pointer;
        outline: none;
        position: relative;
        color: #555;

        &:hover {
          border-bottom: 1px solid #e8e8e8;
        }
      }

      .title {
        display: inline-block;
        font-size: 15px;
        letter-spacing: 0.7px;
        text-indent: 1px;
      }

      .show-time {
        display: inline-block;
        margin-right: 20px;
        font-size: 10px;
        font-style: italic;
        margin-left: 20px;
        opacity: 0.5;
      }
    }
  }

  @media screen and (max-width: 600px) {
    margin-left: 0;
    width: 100%;
    padding-top: 0;

    & > ul {
      padding: 0;
    }

    ul.articles {
      padding-left: 8px;
      margin-bottom: 0;
    }
  }
}
