<div class="container">
  <!--  https://about.me/fchen  -->
  <div class="avatar-container">
    <img src="/aboutme.jpg" alt="avatar" />
  </div>

  <div class="heading-description">
    <b>全栈工程师 ｜ 深圳</b>
  </div>

  <div class="description">
    能力
    <p>前端: React / Vue / Angular / JQuery / PWA / Servie Worker / React Native / Flutter </p>
    <p>后端: Java / Golang / NodeJs / Spring / RabbitMQ / Kfaka</p>
    <p>数据库: MySQL / PostgresSQL / MongoDB / Redis</p>
    <p>架构: DDD / MVC / 微服务 / 六边形架构 / 分布式</p>
    <p>云: Serverless / Docker / K8S / 腾讯云</p>
    <p>服务器: Linux / Nginx / CI / CD</p>
    <p>质量保证: 单元测试 / 集成测试 / 契约测试 / E2E测试</p>
    <p>技术管理：迭代功能管理 / 技术债管理 / 敏捷开发</p>
  </div>
</div>
