nav {
  padding-top: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
  opacity: 0.95;
}

ul {
  display: flex;

  li {
    margin-left: 20px;
  }

  a {
    font-weight: lighter;
  }
}
