:host {
  display: block;
}

nav {
  padding-top: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
  opacity: 0.95;
  font-size: 12px;
}

ul {
  display: flex;

  li {
    margin-left: 20px;
    background-color: #292c32;
    padding: 0 5px;
    box-sizing: border-box;
  }

  a {
    font-weight: lighter;
    letter-spacing: 2px;

  }
}
