:host {
  display: block;
  position: relative;
  z-index: 10;
}

nav {
  padding-top: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
  opacity: 0.95;
  font-size: 13px;
}

ul {
  display: flex;

  &[hidden] {
    visibility: hidden;
  }

  li {
    margin-left: 20px;
    background-color: #292c32;
    padding: 0 5px;
    box-sizing: border-box;
  }

  a {
    font-weight: lighter;
    letter-spacing: 2px;
    text-indent: 2px;
    position: relative;

    &:hover, &.active {
      &:before {
        width: 110%;
      }
    }

    &:before {
      transition: width 300ms ease-in-out;
      content: '';
      display: block;
      position: absolute;
      background-color: #2e85d8;
      opacity: 0.5;
      height: 3px;
      width: 0px;
      bottom: 0;
      left: -5%;
    }
  }
}
