$link-circle-size: 30px;

.links {
  list-style: none;
  color: white;
  li {
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: $link-circle-size;
      height: $link-circle-size;
    }

  }
}
