<h1>{{category.name}}</h1>

<main>
  <aside>
    <ul class="categorys">
      <li *ngFor="let category of categoryList">
        <a routerLink="/{{category.relativeOutputPath}}" routerLinkActive="active">{{category.name}}</a>
      </li>
    </ul>
  </aside>
  <ul class="articles">
    <li *ngFor="let article of category.articles">
      <a routerLink="/{{category.name}}/{{article.articleFileNameWithoutSuffix}}">
        <div>
          <span class="title">{{article.title}}</span>
        </div>
        <span class="show-time">{{formatTime(article.showTime)}}</span>
      </a>
    </li>
  </ul>
</main>
