<h1>{{category.name}}</h1>

<main>
  <aside>
    <ul class="categorys">
      <li *ngFor="let category of categorys">
        <a routerLink="/{{category.path}}" routerLinkActive="active">{{category.categoryName}}</a>
      </li>
    </ul>
  </aside>

  <ul>
    <li *ngFor="let category of categorys">
      <h5>
        {{category.categoryName}}
      </h5>
      <ul class="articles">
        <li *ngFor="let article of category.articles">
          <a [routerLink]="getArticleLink(article.path)">
            <span>
              <span class="title">{{article.title}}</span>
            </span>
            <span class="show-time">{{formatTime(article.showTime)}}</span>
          </a>
        </li>
      </ul>

    </li>
  </ul>

</main>
