:host {
  display: block;
}

.font-wei {
  font-family: icomoon;
  display: inline-block;
  position: relative;
  font-size: 12px;
  color: white;

  a {
    color: white;
    position: relative;
    z-index: 10;
  }

  &:before {
    display: block;
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fff;
    width: 16px;
    height: 16px;
    left: -5px;
    top: -4px;
    z-index: 1;
  }
}
