
::ng-deep {
  .article-content {
    font-weight: lighter;
    line-height: 1.8;
    letter-spacing: 1.2px;
    text-indent: 1px;

    > ul {
      margin: 0;
      padding: 0;
    }

    .section-number {
      margin-right: 8px;
      color: white;
      background-color: #555;
      padding: 0 5px;
      border-radius: 2px;
    }

    td {
      text-align: center;
      border-color: currentColor;
      border-radius: 1px;
    }
  }

  pre {
    border-radius: 8px;
    font-size: 10px;
    line-height: 1.5;
    border: 1px solid #ccc;
    padding: 10px;

    code {
      font-family: Monaco;
    }
  }

  blockquote {
    position: relative;
    background-color: #f8f8f8;
    border-radius: 4px;
    padding: 0px 16px;
    box-sizing: border-box;

    &:before {
      content: '“';
      display: block;
      position: absolute;
      left: -40px;
      top: 46px;
      font-size: 113px;
      font-family: "Impact";
      color: #999;
      line-height: 0;
    }
  }
}
