::ng-deep {
  .article-content {
    line-height: 1.7;

    > ul {
      margin: 0;
      padding-left: 18px;
    }

    ul {
      list-style: disc;
    }

    ul.outline {
      line-height: 1.8;
    }

    img {
      border-radius: 3px;
    }

    .section-number {
      margin-right: 8px;
      color: white;
      background-color: #555;
      padding: 0 5px;
      border-radius: 2px;
    }

    td {
      text-align: center;
      border-color: currentColor;
      border-radius: 1px;
    }

    pre {
      border-radius: 8px;
      font-size: 10px;
      line-height: 1.5;
      border: 1px solid #ccc;
      padding: 10px;

      code {
        font-family: Monaco;
      }
    }

    blockquote {
      position: relative;
      background-color: #e7edf38a;
      border-radius: 4px;
      padding: 1px 16px;
      box-sizing: border-box;

      &:before {
        content: "“";
        display: block;
        position: absolute;
        left: -46px;
        top: 46px;
        font-size: 113px;
        font-family: "Impact";
        color: #999;
        line-height: 0;
      }
    }

    @media screen and (max-width: 600px) {
      table {
        max-width: 100%;
        overflow: scroll;
        display: block;
      }
    }
  }
}
