:host {
  display: block;
}
.main {
  cursor: pointer;
  position: relative;
  user-select: none;
  display: flex;
  justify-content: space-between;
  font-style: italic;
  letter-spacing: 4px;
  text-indent: 4px;
  font-weight: lighter;
  background-color: #292c32;
  margin-right: 5px;
  padding: 0 3px;
  text-align: center;

  &.playing {
    .music-icon {
      animation: 4s infinite rotate linear;
    }
  }
}

.music-icon {
  fill: white;
  position: relative;
  top: -1px;
  vertical-align: middle;
  animation: 4s infinite rotate linear;
  margin-right: 2px;
  animation: none;
}


@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
